html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}
/*LOGO*/
#Logo img{
    margin: auto;
    display: flex;
    border-radius: 0.25rem;
    height: 4.2rem;
}

/* Div e Form LOGIN e Cadastro */
    #formLogin,#formCadastro {
        font-size: 1.6em;
    }

    #divCadastro {
        margin-top: 5%;
        display: none;
    }

    #divLogin {
        margin-top: 5%;
    }

    .col h1{
        margin-bottom: 0;
        font-size: 3em;
    }
    #divA {
        margin-bottom: 1em;
    }

    #divA a{
        font-size: 1.2em;
    }

    .col input {
        background-color: #EDEFF0;
        box-sizing: border-box;
        padding: 1.3em;
    }

    .checkbox-lg .custom-control-label::before, 
    .checkbox-lg .custom-control-label::after {
        width: 1.55rem;
        height: 1.55rem;
    }

    .checkbox-lg .custom-control-label {
        padding-left: 0.5em;
        font-size: 0.9em;
    }

    .col button{
        font-size: 1em;
    }

    .col div {
        margin-bottom: 1em;
    }

/* Alert */
    #alertErroLogin {
        display: none;
    }

    #alertErroCadastro {
        display: none;
    }

    #alertSucessoCadastro {
        display: none;
    }