/* Div Princinpais */
#mainContainer{
    padding: 0;
    height: 100%;
}

#backgroud, html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

#background { /* div para mundar cor de fundo */
    height: 100%;
}

/* NAV BAR DE NAV-ITENS */
.navbar {
    background-color: rgba(0, 0, 100, 0.2);
    padding: 0.3rem;
}
.nav-item {
    background-color: transparent;
}

#homeIcon{
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.3rem;    
    border-radius: 0.1rem;
    background-color: rgba(255, 255, 255, 0.30);
}

#homeIcon:hover{
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

#logo img{
    filter: opacity(70%);
    height: 1.5rem;
    width: 4.5rem;
}
#logo img:hover{
    filter: opacity(90%);
    cursor: pointer;
}

button#menuUser {
    justify-content: flex-end;
    padding: 0;
    border: none;
    background-color: inherit;

}

#divMenuUser{
    background-color: transparent;
    overflow: hidden;
}

#divMenuUser span {
    display: inline-flex;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 100%;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #dfe1e6;
}

/* Container Interno*/
#containerInterno{
    height: 100%;
    padding: 0;
}

/*dropdown menu*/
#H6Name{
    margin: 0;
}

#divUserName{
    padding-bottom: 0.5rem;
    margin: 0 0.3rem 0.3rem;
}

/* Board Header */
.row {
    margin: 0;
}
#spanName {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    padding: 0 0.5rem;
}

#divBoardName{
    display: flex;
    max-width: calc(100% - 35rem);
    border-radius: 0.25rem;
    width: auto;
    cursor: pointer;
}

#divBoardName:hover{
    background-color:rgba(255, 255, 255, 0.20);
}

.form-control{
    width: auto;
}
#changeName {
    display: none;
    width: 4rem;
    min-width: 4rem;
    text-align: left;
}

#spanSize {
    display: inline-block;
    position: absolute;
    padding-right: 1.5rem !important;
    visibility: hidden;
}

#changeName,
#spanSize {
    margin: 0;
    white-space: pre;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    font: inherit;
    overflow: hidden;
}

#boardHeader {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}

/* Mudar Cor/Excluir Board */

#divMenuBoard {
    display: inline-flex;
}

#btnMudarCor,
#btnApagarQuadro {
    color: white;
    margin-left: 0.5rem;
    background-color: rgba(255, 255, 255, 0.20);
}

#btnMudarCor:hover,
#btnApagarQuadro:hover {
    background-color: rgba(255, 255, 255, 0.30);
}

/* Listas */
#allListas{
    max-height: 89%;
}

#divCriarLista {
    height: 3rem;
    border-radius: 0.3rem;
    -webkit-user-select: none;
    -webkit-touch-callout:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;     
    cursor: pointer;
    background-color:#ebecee;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.lista {
    display: flex;
    max-height: 40rem;
    height: 100%;
    background-color: transparent;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
}

.inside-lista {
    border-radius: 0.25rem;
    padding: 0.5rem;
    min-height: 5rem;
    overflow-y: auto;

}

.divNomeLista {
    height: 3rem;
    border-radius: 0.25rem;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.nome-lista{
    font-weight: 600;
}

.subMenu-lista{
    
}

.card {
    margin-top: 0.5rem;
    padding: 0.3rem;
}
.card .card{ 
    margin: 0;
    width: 50%;
    height: 0.5rem;
}

/* CRIAR LISTA = CRIAR QUADRO*/

#formNovaLista{
    width: auto;
    box-sizing: border-box;
    margin: auto;
}

#nomeDaLista{
    color: white;
    font-weight: bold;
    margin: 0.5rem;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    box-sizing: border-box;
}

#nomeDaLista:hover{
    background-color:rgba(255, 255, 255, 0.10); 
}

#nomeDaLista:focus{
   background-color: rgba(255, 255, 255, 0.20);
}

#nomeDaLista::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.60);
}

#novaListabg{
    display: none;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

#novaLista{
    color: white;
    margin: auto;   
}

#btnCriarLista{
    width: auto;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    font-weight: 500;
    display: block;
}

#btnCriarLista:disabled{
    background-color: #f4f5f7;
    color: #a5adba;
}

#quadroANDcores{
    padding-top: 1rem;
    display: flex;
    margin-bottom: 1rem;
}

#divListaTxt{
    color: white;
    width: 90%;
    display: inline-flex;
    border-radius: 0.3rem;
}