/* Div Princinpais */
#mainContainer{
    padding: 0;
}

#backgroud, html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

#background { /* div para mundar cor de fundo */
    /* background-color: rgb(0, 121, 191); */
    /* background-color: rgb(81, 152, 57); */
    height: 100%;
}

/* NAV BAR DE NAV-ITENS */
.navbar {
    background-color: rgba(0, 0, 100, 0.2);
    padding: 0.3rem;
}
.nav-item {
    background-color: transparent;
}

#homeIcon{
    width: 2.3rem;
    height: 2.3rem;
    padding: 0.3rem;
    border-radius: 0.1rem;
    background-color: rgba(255, 255, 255, 0.30);
}

#homeIcon:hover{
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

#logo img{
    filter: opacity(70%);
    height: 1.5rem;
    width: 4.5rem;
}
#logo img:hover{
    filter: opacity(90%);
    cursor: pointer;
}

button#menuUser {
    justify-content: flex-end;
    padding: 0;
    border: none;
    background-color: inherit;

}

#divMenuUser{
    background-color: transparent;
    overflow: hidden;
}

#divMenuUser span {
    display: inline-flex;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 100%;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    font-size: 1.1rem;
    background-color: #dfe1e6;
}

/*dropdown menu*/
#H6Name{
    margin: 0;
}

#divUserName{
    padding-bottom: 0.5rem;
    margin: 0 0.3rem 0.3rem;
}

#divUserHome{
    background-color: white;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    padding: 0;
}

/* QUADROS */
.list-group-item{
    border: 0;
    padding-left: 0;
}

#criarQuadro {
    background-color:#f5f7fa;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#criarQuadro span{
    color: black;
    font-weight: normal;
    text-align: center;
    margin: 0;
}
#criarQuadro div{
    margin: auto;
    align-self: center;
    justify-self: a;
}
.quadro {
    /* width: 12rem; */
    height: 6rem;
    border-radius: 0.3rem;
    -webkit-user-select: none;
    -webkit-touch-callout:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;     
    cursor: pointer;
}
.quadro span{
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    line-height: 2rem;
    margin-left: 0.6rem;
}
#divMeusQuadros{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* criar novo quadro*/
#formNovoQuadro{
    width: auto;
    box-sizing: border-box;
    margin: auto;
}

#nomeDoQuadro{
    color: white;
    font-weight: bold;
    margin: 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    box-sizing: border-box;
}

#nomeDoQuadro:hover{
    background-color:rgba(255, 255, 255, 0.10); 
}

#nomeDoQuadro:focus{
   background-color: rgba(255, 255, 255, 0.20);
}

#nomeDoQuadro::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.60);
}

#novoQuadrobg{
    display: none;
    width: 100%;
    height: max-content;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

#novoQuadro{
    color: white;
    margin: auto;   
}

#btnCriarQuadro{
    width: auto;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    font-weight: 500;
    display: block;
}

#btnCriarQuadro:disabled{
    background-color: #f4f5f7;
    color: #a5adba;
}

#quadroANDcores{
    padding-top: 1rem;
    display: flex;
    margin-bottom: 1rem;
}

#bgQuadro{
    color: white;
    width: 80%;
    display: inline-flex;
    background-color: rgb(0, 121, 191);
    border-radius: 0.3rem;
}

#listaDeCores{
    margin-left: 0.5rem;
    margin-bottom: 0;
    display: inline-flex;
    width: 30%;
    padding: 0;
    flex-wrap: wrap;
    vertical-align: top;
}

#listaDeCores li {
    margin-right: 0.5rem;
    margin-bottom:0.3rem;
    display: inline-block;
    padding: 0;
}

#listaDeCores button{
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.3rem;
}

/* CORES DOS BTNS DA LISTA*/

#btnCorAzul{
    background-color: rgb(0, 121, 191);
    cursor: pointer;
}

#btnCorLaranja{
    background-color: rgb(210, 136, 52);
    cursor: pointer;
}

#btnCorVerde{
    background-color: rgb(81, 152, 57);
    cursor: pointer;
}

#btnCorVermelho{
    background-color: rgb(176, 70, 50);
    cursor: pointer;
}

#btnCorRoxo{
    background-color: rgb(137, 96, 158);
    cursor: pointer;
}

#btnCorRosa{
    background-color: rgb(205, 90, 145);
    cursor: pointer;
}

#btnCorVerdeClaro{
    background-color: rgb(75, 191, 107);
    cursor: pointer;
}

#btnCorAzulClaro{
    background-color: rgb(0, 174, 204);
    cursor: pointer;
}

#btnCorCinza{
    background-color: rgb(131, 140, 145);
    cursor: pointer;
}
